Repository okas/reboot-tech01-project1: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --check --write, eslint --fix, stylelint --fix

CHANGE: console output refinements
  src/GameArena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: typo fix
  src/TileMover.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: refactorgings for internal API-a
  src/GameArena.js
  src/MatchInfoBase.js
  src/TileMatcher.js
  src/TileMover.js
Due: prettier --ignore-unknown --check --write, eslint --fix

ADD: added guard to avoid reanalyzing already matched tiles
  src/GameArena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: code readability
  src/GameArena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

FEAT: implemented game changes detection `type 1`:
  src/GameArena.js
  src/TileMatcher.js
  src/TileMatcherBase.js
  src/TileMatcherChance.js
Due: prettier --ignore-unknown --check --write, eslint --fix

ADD: implemented type 2 chances
  src/GameArena.js
  src/TileMatcherChance.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: refactor for DRY
  src/TileMatcherChance.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: minor readability comments
  src/TileMover.js
Due: prettier --ignore-unknown --check --write, eslint --fix

Implemented spheres for tiles
  .eslintrc.cjs
  index.html
  lib/sphere.js/LICENSE.txt
  lib/sphere.js/cvi_istack_lib.js
  lib/sphere.js/cvi_sphere_lib.js
  lib/sphere.js/sphere.js
  static/view-game-arena.css
Due: prettier --ignore-unknown --check --write, eslint --fix, stylelint --fix

Code to merge
  index.html
  src/GameTile.js
  src/index.js
  static/game-tile.css
  static/view-game-arena.css
Due: prettier --ignore-unknown --check --write, eslint --fix, stylelint --fix

CHANGE: clean toe html, it is auto-generated
  index.html
Due: prettier --ignore-unknown --check --write, eslint --fix

BUGFIX: `GameTile` got children, misses propagating events
  src/GameArena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

BUGFIX: `connectedCallback` was called mure than needed:
  src/GameTile.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: style fixing for tiles
  src/GameTile.js
  static/game-tile.css
Due: prettier --ignore-unknown --check --write, eslint --fix, stylelint --fix

CHANGE: paths fixing
  index.html
  src/GameTile.js
Due: prettier --ignore-unknown --check --write, eslint --fix

FIX: refactgored sphere lib integration via JS API
  src/GameTile.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: last minute emergency changes
  assets/Captura de pantalla 2022-05-15 a las 20.49.13.png
  assets/footer_tile_example.png
  index.html
  src/index.js
  static/view-game-arena.css
Due: prettier --ignore-unknown --check --write, eslint --fix, stylelint --fix

CHANGE: image size fixed
  assets/footer_tile_example.png
  static/view-game-arena.css
Due: stylelint --fix

FEAT: added GameStatistics class:
  index.html
  src/GameArena.js
  src/GameStatistics.js
  src/GameTile.js
  src/MatchInfoCombo.js
  src/index.js
  static/game-tile.css
  static/view-game-arena.css
Due: prettier --ignore-unknown --check --write, eslint --fix, stylelint --fix

CHANGE: game statistics styling
  index.html
  static/view-game-arena.css
Due: prettier --ignore-unknown --check --write, eslint --fix, stylelint --fix

BUGFIX: if one axxes met match condition, other were included without check
  src/TileMatcher.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: refactor for symbol renames
  src/MatchInfoBase.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: refactorings:
  src/GameArena.js
  src/MatchInfoCombo.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: refactored matchCollapseRecursive stats handling:
  src/GameArena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: fixed combo stats handling in startMainRecursive
  src/GameArena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

ADD: console.debug of new tile generatin cycles
  src/GameArena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

FIX: renaming refactorting fix for commit:
  src/GameArena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

ADD: Game Over situation handling + refactor
  src/GameArena.js
  src/GameStatistics.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: reset now impacts the UI as well
  src/GameStatistics.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: refactor, broke down the codebase + a bit of IoC
  src/GameArena.js
  src/GameUI.js
  src/index.js
Due: prettier --ignore-unknown --check --write, eslint --fix

ADD: basic ticking logic of timer:
  src/GameArena.js
  src/GameStatistics.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: added timer incrementer:
  src/GameArena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: implemneted GO by timeout
  src/GameArena.js
  src/index.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: tile upscaling for visibility
  src/GameTile.js
  static/game-tile.css
  static/view-game-arena.css
Due: prettier --ignore-unknown --check --write, eslint --fix, stylelint --fix

CHANGE: grid rows and cols are now bot dynamically fixed
  src/GameUI.js
  static/view-game-arena.css
Due: prettier --ignore-unknown --check --write, eslint --fix, stylelint --fix

CHANGE: styling tweaks
  src/GameTile.js
  static/game-tile.css
  static/view-game-arena.css
Due: prettier --ignore-unknown --check --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --ignore-unknown --check --write: any of: *.{jsx,cjs,mjs,js,json,htm,html}
  eslint --fix: any of: *.{jsx,cjs,mjs,js,json,htm,html}
  stylelint --fix: any of: *.css
