Repository okas/reboot-tech01-project1: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --check --write, eslint --fix, stylelint --fix

CHANGE: ESLint config finetuning
  .eslintrc.cjs
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: linters config tweaks
  .eslintrc.cjs
  .stylelintrc.json
  package-lock.json
  package.json
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: added type info
  src/game-arena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

ADD: html linting and config
  .eslintrc.cjs
  package-lock.json
  package.json
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: files linting:
  index.html
  src/game-arena.js
  static/view-game-arena.css
Due: prettier --ignore-unknown --check --write, eslint --fix, stylelint --fix

FEAT: added statemachine to tile click handler:
  src/game-arena.js
  src/game-tile.js
  static/game-tile.css
Due: prettier --ignore-unknown --check --write, eslint --fix, stylelint --fix

CHANGE: code refactor
  src/game-arena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

FIX: in case both correct tiles already fixed:
  src/game-arena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: refactor for readability
  src/game-arena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

FEAT: WIP, match detection:
  src/game-arena.js
  src/game-tile.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: code linting
  package.json
  src/index.js
  static/site.css
  static/view-game-arena.css
Due: prettier --ignore-unknown --check --write, eslint --fix, stylelint --fix

Match is evaluated, when user makes 2 valid tile selections Closes #10
  src/game-arena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: game arena tiles collection is different:
  src/game-arena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: 7x7 seems better for testing
  src/index.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: a bit more intuitive coloring for user selectable tiles
  static/game-tile.css
Due: stylelint --fix

CHANGE: extended HTMLCollection instance of tiles:
  src/game-arena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: jsdoc fix
  src/game-arena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: sidXside and direction info:
  src/game-arena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

FEAT: tile swapping done:
  src/game-arena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: added metohd chaining support for comfort
  src/game-tile.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: implemented swapping functionality:
  src/game-arena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: refactored match detection API:
  src/game-arena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

Swap back invalid user selected tiles Fixes #14
  src/game-arena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: refacor, imporved match info API:
  src/game-arena.js
  src/match-info.js
Due: prettier --ignore-unknown --check --write, eslint --fix

Tile will disappear, when matched Fixes #17
  src/game-arena.js
  src/game-tile.js
  src/index.js
  static/game-tile.css
Due: prettier --ignore-unknown --check --write, eslint --fix, stylelint --fix

heather work
  index.html
  package-lock.json
  static/view-game-arena.css
Due: prettier --ignore-unknown --check --write, eslint --fix, stylelint --fix

CHANGE: updated tooling and linter scripts (L.S)
  package-lock.json
  package.json
Due: prettier --ignore-unknown --check --write, eslint --fix

FIX: script fix (LS)
  package.json
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: linters run for the project
  src/index.js
  static/site.css
Due: prettier --ignore-unknown --check --write, eslint --fix, stylelint --fix

CHANGE: DS_store excluded
  .gitignore
Due: none

FIX: package dependencies were off
  package-lock.json
  package.json
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: typo
  src/game-arena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: refactor for code reuse
  src/game-arena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: refator for separation of concerns
  src/game-arena.js
  src/game-tile.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: code cleanup and simplification
  src/game-arena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: refactored MatchInfo:
  src/match-info.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: refactor fixed JSDoc info
  src/game-arena.js
  src/match-info.js
  src/utilities.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: added null checks for versatility
  src/game-arena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

CHANGE: refactor to reduce repetitive code:
  src/game-arena.js
Due: prettier --ignore-unknown --check --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --check --write: any of: *.{jsx,cjs,mjs,js,json,htm,html}
  eslint --fix: any of: *.{jsx,cjs,mjs,js,json,htm,html}
  stylelint --fix: any of: *.css
